<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IO_list_automation_new.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <IO_list_automation_new.Properties.Settings>
            <setting name="AplicationHeight" serializeAs="String">
                <value>1680</value>
            </setting>
            <setting name="AplicationWidth" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IOLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="ApplicationLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="SelectedCPU" serializeAs="String">
                <value>Siemens</value>
            </setting>
            <setting name="SelectedSCADA" serializeAs="String">
                <value>WinCC</value>
            </setting>
            <setting name="AutomaticColumnWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteRowIfNoModule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelColumnCPU" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnKKS" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnRangeMin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnRangeMax" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnUnits" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnFalseText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnTrueText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnRevision" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnCable" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnCabinet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExcelColumnModuleName" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExcelColumnPin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExcelColumnChannel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ExcelColumnIOText" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExcelColumnPage" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DesignColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesignColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DesignColumnKKS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DesignColumnRangeMin" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DesignColumnRangeMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DesignColumnUnits" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DesignColumnFalseText" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DesignColumnTrueText" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="DesignColumnRevision" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DesignColumnCable" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DesignColumnCabinet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DesignColumnModuleName" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DesignColumnPin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DesignColumnChannel" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DesignColumnIOText" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DesignColumnPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DesignColumnChanged" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ExcelColumnChanged" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="InputDataPinIsNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputDataChannelIsNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputDataPinHasNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputDataChannelHasNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelRowOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DataColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataColumnKKS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DataColumnRangeMin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DataColumnRangeMax" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DataColumnUnits" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="DataColumnFalseText" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="DataColumnTrueText" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="DataColumnRevision" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="DataColumnCable" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DataColumnCabinet" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DataColumnModuleName" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="DataColumnPin" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="DataColumnChannel" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="DataColumnIOText" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DataColumnPage" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DataColumnChanged" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="DataColumnOperative" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DataColumnKKSPlant" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DataColumnKKSLocation" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataColumnKKSDevice" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DataColumnKKSFunction" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DataColumnUsed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DataColumnObjectType" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DataColumnObjectName" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataColumnObjectDetalisation" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DataColumnFunctionText" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DataColumnFunction" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ObjectsColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObjectsColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ObjectsColumnKKS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ObjectsColumnOperative" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ObjectsColumnObjectType" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ObjectsColumnObjectName" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataColumnTerminal" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="DesignColumnTerminal" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="ExcelColumnTerminal" serializeAs="String">
                <value>-1</value>
            </setting>
        </IO_list_automation_new.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>