<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IO_list_automation_new.Properties.SettingsModule" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IO_list_automation_new.Properties.SettingsDesignInput" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IO_list_automation_new.Properties.SettingsDesignInputy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IO_list_automation_new.Properties.SettingsObject" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IO_list_automation_new.Properties.SettingsDesign" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IO_list_automation_new.Properties.SettingsData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IO_list_automation_new.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <IO_list_automation_new.Properties.SettingsModule>
            <setting name="ColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColumnModuleName" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColumnModuleType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnCabinet" serializeAs="String">
                <value>4</value>
            </setting>
        </IO_list_automation_new.Properties.SettingsModule>
        <IO_list_automation_new.Properties.SettingsDesignInput>
            <setting name="ColumnCPU" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnKKS" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnRangeMin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnRangeMax" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnUnits" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnFalseText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnTrueText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnRevision" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnCable" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnCabinet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColumnModuleName" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnPin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColumnChannel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ColumnIOText" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ColumnPage" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnChanged" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PinIsNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChannelIsNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PinHasNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChannelHasNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RowOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnTerminal" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ColumnTag" serializeAs="String">
                <value>-1</value>
            </setting>
        </IO_list_automation_new.Properties.SettingsDesignInput>
        <IO_list_automation_new.Properties.SettingsDesignInputy>
            <setting name="DeleteRowIfNoModule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelColumnCPU" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnKKS" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnRangeMin" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnRangeMax" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnUnits" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnFalseText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnTrueText" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnRevision" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnCable" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnCabinet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExcelColumnModuleName" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExcelColumnPin" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExcelColumnChannel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ExcelColumnIOText" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExcelColumnPage" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnChanged" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ExcelColumnID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="InputDataPinIsNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputDataChannelIsNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputDataPinHasNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputDataChannelHasNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelRowOffset" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExcelColumnTerminal" serializeAs="String">
                <value>-1</value>
            </setting>
        </IO_list_automation_new.Properties.SettingsDesignInputy>
        <IO_list_automation_new.Properties.SettingsObject>
            <setting name="ColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColumnKKS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColumnOperative" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnObjectType" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ColumnObjectName" serializeAs="String">
                <value>5</value>
            </setting>
        </IO_list_automation_new.Properties.SettingsObject>
        <IO_list_automation_new.Properties.SettingsDesign>
            <setting name="ColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColumnKKS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnRangeMin" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ColumnRangeMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColumnUnits" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ColumnFalseText" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ColumnTrueText" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ColumnRevision" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ColumnCable" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ColumnCabinet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColumnModuleName" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ColumnPin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ColumnChannel" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ColumnIOText" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ColumnPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ColumnChanged" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ColumnTerminal" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="ColumnTag" serializeAs="String">
                <value>18</value>
            </setting>
        </IO_list_automation_new.Properties.SettingsDesign>
        <IO_list_automation_new.Properties.SettingsData>
            <setting name="ColumnID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnCPU" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColumnKKS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColumnRangeMin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ColumnRangeMax" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ColumnUnits" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="ColumnFalseText" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="ColumnTrueText" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ColumnRevision" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="ColumnCable" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="ColumnCabinet" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ColumnModuleName" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ColumnPin" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ColumnChannel" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ColumnIOText" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ColumnPage" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="ColumnChanged" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ColumnOperative" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnKKSPlant" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ColumnKKSLocation" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ColumnKKSDevice" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ColumnKKSFunction" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ColumnUsed" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ColumnObjectType" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ColumnObjectName" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ColumnObjectSpecifics" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ColumnFunctionText" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ColumnFunction" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ColumnTerminal" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="KKSEditText01" serializeAs="String">
                <value />
            </setting>
            <setting name="KKSEditText12" serializeAs="String">
                <value />
            </setting>
            <setting name="KKSEditText23" serializeAs="String">
                <value />
            </setting>
            <setting name="KKSEditText34" serializeAs="String">
                <value />
            </setting>
            <setting name="KKSEditText45" serializeAs="String">
                <value />
            </setting>
            <setting name="KKSEditCheckPart1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KKSEditCheckPart2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KKSEditCheckPart3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KKSEditCheckPart4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnTag" serializeAs="String">
                <value>28</value>
            </setting>
        </IO_list_automation_new.Properties.SettingsData>
        <IO_list_automation_new.Properties.Settings>
            <setting name="AplicationHeight" serializeAs="String">
                <value>1680</value>
            </setting>
            <setting name="AplicationWidth" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IOLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="ApplicationLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="SelectedCPU" serializeAs="String">
                <value>Siemens</value>
            </setting>
            <setting name="SelectedSCADA" serializeAs="String">
                <value>WinCC</value>
            </setting>
            <setting name="AutoLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadFile" serializeAs="String">
                <value />
            </setting>
            <setting name="NewTypeResetIndex" serializeAs="String">
                <value>False</value>
            </setting>
        </IO_list_automation_new.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>